YoutubeDownloader.ValidationLibrary/bin
.vs/YoutubeDownloaderSolution/DesignTimeBuild
.vs/YoutubeDownloaderSolution/FileContentIndex
YoutubeDownloader.Application/bin
YoutubeDownloader.Application/obj
YoutubeDownloader.ValidationLibrary/obj
.vs
