YoutubeDownloader.MauiApplication/obj
YoutubeDownloader.Services/bin
YoutubeDownloader.Services/obj
YoutubeDownloader.Validation/bin
YoutubeDownloader.Validation/obj
.vs/ProjectEvaluation
.vs/Solution/DesignTimeBuild
.vs/Solution/FileContentIndex
.vs/Solution/v17
YoutubeDownloader.MauiApplication/bin
YoutubeDownloader.Shared/bin
YoutubeDownloader.Shared/obj
